body {
    background-color: #E0E0E0;
    margin: 0px;
}

#bloc_page {
    display: flex;
}

#main {
    display: flex;
    flex-direction: column;
    width: 80%;
}

header {
    display: flex;
    flex-direction: column;
}

header h1, .metier {
    text-align: center;
}

section {
    display: flex;
    flex-direction: column;
}

#recom {
    display: flex;
    justify-content: space-around;
}

h2 {
    text-align: center;
}

aside {
    display: flex;
    flex-direction: column;
    order: -1;
    width: 20%;
    margin-bottom: -500px;
    background-color: #6A1B9A;
}