body {
    background-color: white;
    margin: 0px;
}

#bloc_page {
    display: flex;
}

#main {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 150px;
}

header {
    display: flex;
    flex-direction: column;
    border: 1px black solid;
    margin-top: 20px;
}

header h1, .metier {
    text-align: center;
}

h1 span {
    color: #6A1B9A ;
}

p span {
    text-decoration: underline #6A1B9A;
}

section {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    border: 1px black solid;
}

#recom {
    display: flex;
    justify-content: space-around;
}

h2 {
    text-align: left;
}

aside {
    display: flex;
    flex-direction: column;
    order: -1;
    width: 25%;
    margin-bottom: -500px;
    background-color: #6A1B9A;
}

img {
    border-radius: 50%;
    margin-left: 18%;
    margin-top: 20%;
}

h3 {
    font-size: 30px;
    color: #6A1B9A;
    text-align: center;
    background-color: chartreuse;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 80px;
    margin-bottom: 50px;
}

aside p {
    margin-left: 30px;
    margin-right: 30px;
}

aside i {
    font-size: 30px;
    width: 10px;
    height: 50px;
    margin-left: 30px;
    margin-right: 30px;
}